:root {
    --color-background-weak: #fff;
    --color-background-medium: #f9f8f8;
    --color-background-strong: #f5f3f3;
    --color-primary: #0bc98d;
    --color-primary-strong: #0cba83;
    --color-gray-light: #edeae9;
    --color-gray-medium: #afabac;
    --color-gray-strong: #6d6e6f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    background-color: var(--color-background-weak);
    font-family: "Google Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2c3136;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #c1c1c1;
}
::-webkit-scrollbar-track {
    padding: 6px;
}

.text-10 {
    font-size: 10px;
}

.text-11 {
    font-size: 11px;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-17 {
    font-size: 17px;
}

.text-18 {
    font-size: 18px;
}

.text-19 {
    font-size: 19px;
}

.text-20 {
    font-size: 20px;
}

.separator {
    border-top: 1px solid #edeae9;
    margin: 4px 0;
}

.sidebar-collapsed {
    margin-left: -240px;
    visibility: hidden;
}

.__react_component_tooltip {
    padding: 6px 10px!important;
    font-size: 12px!important;
}
.__react_component_tooltip.show {
    opacity: 1!important;
}

.dropdown-ul {
    width: 100%;
    padding: 6px 0;
    z-index: 2;
}
.dropdown-ul li {
    padding: 8px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dropdown-ul li:hover {
    background-color: #f8f8f8;
}

.dropdown-ul li .dropdown-icon {
   font-size: 18px;
   width: 24px;
   color: var(--color-gray-strong)
}

.global-action .search-bar {
    position: relative;
}

.global-action .search-bar .icon-left {
    position: absolute;
    font-size: 17px;
    top: 8px;
    left: 11px;
}

.global-action .search-bar .icon-right {
    position: absolute;
    font-size: 16px;
    top: 8px;
    right: 11px;
    cursor: pointer;
}

.global-action .search-bar .input {
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #cfcbcb;
    padding: 0 32px;
    height: 34px;
    width: 180px;
    transition: width 0.15s ease-out;
}

.global-action .search-bar .input.focus {
    width: 480px;
    border-color: #0bc98d;
    box-shadow: 0 0 0 1px #0bc98d;
}

.global-action .search-bar .input:focus {
    outline: none;
}

.global-action .search-bar .search-popup {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(109, 110, 111, 0.08);
    border-radius: 5px;
    border: 1px solid #ebedf3;
    white-space: nowrap;
    width: 100%;
    top: 36px;
}
