.container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    transition: margin-left 250ms ease-out,transform 250ms ease-out;
    width: 240px;
    background-color: black;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    color: #fff;
    .menuItem {
        padding: 0 24px;
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        &.selected {
            background-color: rgb(73, 73, 73);
        }
        &:hover {
            background-color: rgb(51, 51, 51);
        }
    }
}